#Altium
History
__Previews
*.PrjPCBStructure
*.PrjPcbStructure
*.SchDocPreview
*.PcbDocPreview
Project Outputs for *
Project Logs for *

reports/*
!reports/*.eps
!reports/*.pdf
!reports/*.png
!reports/*.tex


# FPGA
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sdk/
*.sim/
*.jou
*.log
*.str

