#Altium
__Previews
History
Project Logs for *
Project Outputs for *
*.PrjPCBStructure
*.PrjPcbStructure
*.SchDocPreview
*.PcbDocPreview
*.WAS
debug.log
Status Report.Txt

reports/*
!reports/*.eps
!reports/*.pdf
!reports/*.png
!reports/*.tex

# FPGA
fpga/bd/channel/*
!fpga/bd/channel/channel.bd
fpga/bd/controller/*
!fpga/bd/controller/controller.bd
fpga/bd/generator/*
!fpga/bd/generator/generator.bd
fpga/ip/xlnx_clk_gen_pmod_eth/*
!fpga/ip/xlnx_clk_gen_pmod_eth/xlnx_clk_gen_pmod_eth.xci
fpga/vivado/*
!fpga/vivado/*.tcl
